body{
    background-color: black
}

.navbar {
    border-bottom:0.1vw solid white;
    box-sizing: border-box;
    color: white;
}





.hero-text {
    position: absolute;
    top: 36%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    font-size: 6vw;
    width: 100%;
    pointer-events: none;
    text-decoration: underline;
}  .hero-container {
        position: relative;
        width: 80vw;
        margin: 0 auto;
    }

    .hero-container img {
        width: 100%;
        height: auto;
        opacity: 60%;
        display: block;
    }

    .hero-overlay {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        text-align: center;
        z-index: 2;
        pointer-events: none;
    }

    .hero-text {
        color: white;
        font-size: 6vw;
        margin-bottom: 1vw;
    }

    .sub-text {
        font-size: 2vw;
        margin-top: 0;
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: rgb(133, 133, 133);
        text-align: center;
        width: 100%;
        pointer-events: none;
    }
   

.signup-button {
    top: 60%;
    left: 50%;
    position: absolute;
    background-color: rgb(49, 49, 49);
    color: white;
}

.login-button {
    top: 60%;
    left: 45%   ;
    position: absolute;
}

.navbar {
    align-items:flex-end;
}

.video-gallery {
    display:flex;
    flex-wrap: wrap;
    gap: 2vw;
    justify-content: center;
    margin: 2vw 0;
}

.video-gallery video{
    width: 300vw;
    max-width: 43vw;
    height: auto;
    border-radius: 1vw;
    box-shadow: 0 2px 8px rgba(rgb(0, 0, 0,0.3));
}

.info-body{
    color:white;
    max-width: 80%;
    padding-top: 5vw;
}

.bottom-bar{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;

    background-color: #222;
    color: white;
    text-align: center;
    padding: 1em 0;
    z-index:100;

}

