body{
    background-color: black;
    color: white;
}

.navbar {
    border-bottom:0.1vw solid white;
    box-sizing: border-box;
    color: white;
}

.hero-text {
    position: absolute;
    top: 18%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    font-size: 2vw;
    width: 100%;
    pointer-events: none;
    text-decoration: underline;
}

#logoutButton {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 10px 20px;
    background-color: #313131;
    color: rgb(122, 122, 122);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#logoutButton:hover {
    background-color: #444;
    color: white;
}

#logoutButton:active {
    background-color: #555;
    color: white;
}
