* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body{
    background-color: black;
    color: white;
}

.navbar {
    border-bottom:0.1vw solid white;
    box-sizing: border-box;
    color: white;
}

.hero-text {
    position: absolute;
    top: 18%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    font-size: 2vw;
    width: 100%;
    pointer-events: none;
    text-decoration: underline;
}
.profile-info {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    font-size: 1.5vw;
    width: 100%;
    line-height: 20vh;
}


#logoutButton {    background: #000; /* Button fill */
    color: #fff;
    border: 2px solid transparent;
    border-radius: 12px;
    padding: 12px 32px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    transition: background 0.2s, color 0.2s;
    /* Gradient border trick: */
    background-image:
      linear-gradient(#161616, #000), /* Button fill */
      linear-gradient(90deg, #202020, #1e90ff, #787878); /* Border gradient */
    background-origin: border-box;
    background-clip: padding-box, border-box;
    margin: 20px 2px;
    position: absolute;
    top: 10vh;
    right: 1.8vw;

    font-size: 2vw;
    margin-top: 0;
    text-align: center;

    color: white;
    text-align: center;
}



#logoutButton:hover {
  background-image:
    linear-gradient(#222, #222),
    linear-gradient(90deg, #1900ff, #1e90ff, #08ea8f);
  color: #fff;
}

#logoutButton:active {
  background-image:
    linear-gradient(#444, #444),
    linear-gradient(90deg, #009dff, #1e90ff, #00ff99);
  color: #fff;
}



.profile-nav{
    position: absolute;
    top: 10vh;
    left: 1vh;
    padding: 0px 20px;
    background-color: #000000;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/*
.profile-nav:hover {
    background-color: #131313;
    color: rgb(255, 255, 255);
}
*/


#profile-picture-wrapper {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
}

.profilePicture {
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-width: 20vh;
}