* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body{
    background-color: black;
    color: white;
}

.navbar {
    border-bottom:0.1vw solid white;
    box-sizing: border-box;
    color: white;
}

.hero-text {
    position: absolute;
    top: 18%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    font-size: 2vw;
    width: 100%;
    pointer-events: none;
    text-decoration: underline;
}
.profile-info {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    font-size: 1.5vw;
    width: 100%;
}

#logoutButton {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 10px 20px;
    background-color: #313131;
    color: rgb(122, 122, 122);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#logoutButton:hover {
    background-color: #444;
    color: white;
}

#logoutButton:active {
    background-color: #555;
    color: white;
}



.profile-nav{
    position: absolute;
    top: 10vh;
    right: 1vh;
    padding: 0px 20px;
    background-color: #313131;
    color: rgb(122, 122, 122);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.profile-nav:hover {
    background-color: #444;
    color: rgb(255, 255, 255);
}


