body{
    background-image: url('/img/globe.png');
    background-size: cover;           /* makes the image cover the whole area */
    background-position: center;      /* centers the image */
    background-repeat: no-repeat;     /* prevents tiling */
    min-height: 100vh;             /* ensures the image covers the full height */
    margin: 0;
}

.bg-overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);
    pointer-events: none;
    z-index: 0;
}

.signup{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    font-size: 6vw;
    width: 100%;
    pointer-events: none;
    text-decoration: underline;

}